<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo">
      <span>M <img class="l-img" src="../assets/img/angular.png"> R C I N</span>
    </div>

    <ul class="menu">
      <li routerLink="dashboard"><mat-icon>fact_check</mat-icon> Dashboard</li>
      <li routerLink="user"><mat-icon>perm_identity</mat-icon> User</li>
      <li routerLink="course"><mat-icon>screen_share</mat-icon> Course</li>


    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar [ngStyle]="{background:bgColor, color:'#b52f8d'}">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" fontIcon="menu"></mat-icon>
        <span>CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>

    </div>


  </div>

</mat-drawer-container>