.btn {
  background: #b52f8d;
  position: absolute;
  bottom: 48px;
  right: 48px;
}

.user-table {
  margin: 20px auto;
  border-collapse: collapse;
}

.user-header,
.user-row {
  display: flex;
  align-items: center;
}

.user-header {
  font-weight: bold;
  background-color: #f2f2f2;
  margin-bottom: 8px;
  color: #b52f8d;
  border-radius: 5px;
}

.user-row {
  height: 50px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: pink;
  }

}

.user-cell {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.user-cell:not(:last-child) {
  margin-right: 8px;
}